* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #e3edf7;
    --gradient-white-bg: linear-gradient(0deg, #fff 0%, #edf4fa 51%, #e5eef7 100%);
    --gradient-color-bg: linear-gradient(180deg, rgba(247, 1, 120, 1)0%, rgba(160, 8, 156, 1)51%, rgba(99, 13, 178, 1)100%);
    --main-color: #e6006d;
    --font-color: #90979f;
    --hover-box-shadow: rgba(0, 0, 0, 0.19)0px 10px 20px, rgba(0, 0, 0, 0.23)0px 6px 6px;
    --gradient-white-bg2: linear-gradient(98deg, #e5eef7 0%, #fff 100%);

}

a {
    text-decoration: none;
    color: #000;

}

body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: var(--bg-color);
    overflow-x: hidden;
}

header {
    padding: 15px 3%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient-white-bg);
    z-index: 100;
    transition: .3s;
}

header .logo {
    font-size: 1.7rem;
    font-weight: 700;
}

samp {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

}

ul.navlist {
    display: flex;
}

.navlist li {
    margin: 0 1rem;
}

.navlist li a {
    display: inline-flex;
    font-weight: 600;
}

.navlist li a:hover,
.navlist li a.active {
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}
section {
    padding: 90px 8%;
}
.hero-info {
    margin-top: 0px;
}
.home {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
    background: var(--gradient-white-bg2);
}


.hero-info h3 {
    color var(--font-color);
    font-weight: 500;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-info h1 {
    padding-top: 10px;
    font-size: 3.5rem;
}

.text-animate {
    width: 22.8rem;
    position: relative;
}
.text-animate h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: transparent;
    -webkit-text-stroke: 0.1vw #770753;
    background: var(--gradient-color-bg);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: moveText 3s linear infinite;
    animation-delay: 2s;

}

.text-animate h2::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -3px;
    width: 0;
    height: 70%;
    border-radius: 2px solid var(--main-color);
    animation: moveCursorText 3s linear infinite;
    animation-delay: 2s;
}
.hero-info>p {
    padding-top: 20px;
    font-weight:200;
    font-size: 1.4rem;
    width: 700px;
    color: var(--font-color);
    line-height: 1.5rem;
    letter-spacing: 1px;
}
    .btn-box {
        display: flex;
        width:90px;
        margin-top: 2rem;
        margin-bottom: 6rem;
        padding: 10px;
        background: var(--gradient-white-bg);
        padding: 10px;
        border-radius: 5px;
        font-weight: 500;
        color: #000;
        box-shadow: rgba(60, 64, 67, 0.3)0px 1px 2px 0, rgba(60, 64, 67, 0.15)0px 2px 6px 2px;
        transition: all .3s ease;
    }
    .social-media {
        display: flex;
        justify-content: space-between;
        width: 220px;
        height: 45px;
    }
    
    .social-media a {
        width: 42px;
        height: 42px;
        font-size: 1.5rem;
        color: var(--main-color);
        background: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        border-radius: 50%;
        z-index: 1;
    }
    
    .social-media a:hover {
        background: var(--gradient-color-bg);
        color: #fff;
    }
    
    .bg-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bg-icon span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: var(--gradient-color-bg);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: animate 1s linear infinite;
    }
    
    
    
    
    .img img {
        width: 400px;
    }
    
    /*---about section---*/
    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:190px;
    }
    .about.about-img{
        position: relative;
    }
    .about.about-img.aboutGow
    {
        width: 40vw;
        height: auto;
    }
    
    .about-content h2{
        color: var(--main-color);
    }
    .about-content h3{
        font-size: 2.1rem;
        line-height: 3rem;
        margin: 0.5rem;
    }
    .about-content p{
        color:black;
        font-size: 20px;
        line-height:1.9rem;
        letter-spacing: 0.02rem;
    }
    .cv{
        margin-top: 40px;
    }
        .cv a{
        background: var(--gradient-white-bg2);
        padding: 10px 20px;
        border-radius: 5px;
        border:none;
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        box-shadow: rgba(60, 64, 67, 0.3)0px 1px 2px 0,rgba(60, 64, 67, 0.15)0px 2px 6px 2px;
        margin-right: .5rem;
        cursor: pointer;
        transition: all.3s ease;
    }
    /* Education */
    #Education{
        margin: 0;
        
    }
.title {
    font-size: 25px;
    color: rgb(76, 76, 110);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    }
    .contents {
        margin-top: 50px;
        border-left: 2px solid black;
        padding: 0px 30px;
        width: 500px;
        margin-left: 550px;
        line-height: 1.6;
    }
    .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 10px;
    }
    .contents .box1 {
        position: relative;
        padding: 20px;
        border: 1px solid #eaeaea;
        margin-left: -620px;
        margin-bottom: 20px;
        transition: all 0.4s;
        cursor: pointer;
        width: 500px;
        border-radius: 10px;
    }
    .contents .box:hover
    {
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.5);
        background-color: #adaaaa;
        border: 1px solid transparent;
    }
    .contents .box1:hover 
    {
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.5);
    background-color: #adaaaa;
    border: 1px solid transparent;
    }
  .contents .box::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    right: 100%;
    border-radius: 50%;
    background-color: sandybrown;
    top: 0;
    border: 2px solid white;
    margin-right: 22px;
  }
  .contents .box1::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 100%;
    border-radius: 50%;
    background-color: sandybrown;
    top: 0;
    border: 2px solid white;
    margin-left: 80px;
  }
  @media (max-width: 600px) {
    .title {
    margin-left: 50px;
    }
    .contents {
        margin-top: 50px;
        padding: 0px 10px;
        width: calc(100% - 30px);
        line-height: 1.6;
        margin-left: 20px;
    }
    .contents .box {
        position: relative;
        padding: 20px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
        width: calc(100% - 50px); /* Use percentage for better responsiveness */
        border-radius: 10px;
      }
      .contents .box1 {
        position: relative;
        padding: 20px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
        width: calc(100% - 50px); /* Use percentage for better responsiveness */
        border-radius: 10px;
        margin-left: 1px;
      }
      .contents .box::before {
        content: " ";
        position: absolute;
        width: 16px;
        height: 16px;
        right: 100%;
        border-radius: 50%;
        background-color: sandybrown;
        top: 0;
        border: 2px solid white;
        margin-right: 2px;
      }
      .contents .box1::before   
      {
        content: " ";
        position: absolute;
        width: 16px;
        height: 16px;
        right: 100%;
        border-radius: 50%;
        background-color: sandybrown;
        top: 0;
        border: 2px solid white;
        margin-rig:140px;
      }
  }
  /* Skills */
.skill {
    font-size: 25px;
    color: rgb(76, 76, 110);
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .container-skill .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .row .col {
    flex-basis: 46%;
  }
  .sub-title {
    margin-top: 50px;
    font-size: 20px;
    text-decoration: underline;
    color: sandybrown;
    margin-left: 170px;
  }
  .skills {
    margin-top: 50px;
    border: 1px solid #eaeaea;
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.5);
    width: 380px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    margin-left: 170px;
  }
  .skills img {
    padding: 5px;
  }
  .subject {
    margin-left: 50px;
    margin-top: -30px;
    font-size: 22px;
  }
  .skills:hover {
    background-color: #adaaaa;
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.5);
  }
  .sub-title-soft {
    margin-top: 50px;
    font-size: 20px;
    text-decoration: underline;
    color: sandybrown;
    margin-left: 110px;
  }
  .subject-soft {
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
  }
  .soft-skills {
    margin-top: 50px;
    border: 1px solid #eaeaea;
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.5);
    width: 380px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    margin-left: 110px;
  }
  .soft-skills:hover {
    background-color: #adaaaa;
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 600px) {
    .skill {
      font-size: 20px;
      color: rgb(76, 76, 110);
      margin-top: 100px;
      display: flex;
      justify-content: center;
      text-decoration: underline;
      margin-left: 50px;
    }
    .sub-title,
    .sub-title-soft {
      margin-left: 20px;
      font-size: 18px;
    }
  
    .skills,
    .soft-skills {
      width: 350px;
      margin-left: 20px;
    }
    .subject {
        margin-left: 50px;
        font-size: 18px;
      }
      .subject-soft {
        margin-left: 20px;
        font-size: 20px;
      }
    
      .container-skill .row {
        flex-direction: column;
        align-items: center;
      }
    
      .row .col {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }
    
    /* Certification */
    
    .certification {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; /* Space around the items */
      gap: 50px; /* Gap between items */
      gap: 50px; /* Gap between items */
    }
    .cer h2 {
      margin-top: 100px;
      text-align: center;
      font-size: 35px;
      color: rgb(76, 76, 110);
    }
    .certification img {
      border-radius: 10px;
      height: auto;
      width: 100%;
      width: 500px;
      margin-bottom: -80px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      margin-top: 100px;
    }
    .certification img:hover {
      transform: scale(1.05); /* Slight zoom effect on hover */
    }
    .cer i {
      color: rgb(76, 76, 110);
    }
    
    @media (max-width: 600px) {
      .cer h2 {
        margin-top: 100px;
        text-align: center;
        font-size: 25px;
        color: rgb(76, 76, 110)
      }
    
    .certification img {
      width: calc(100% - 20px);
      margin-bottom: -130px;
      margin-left: 20px;
    }
  }
  /* Projects */

.title-project {
    text-align: center;
    color: rgb(76, 76, 110);
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .project {
    width: 100%;
    padding: 100px 0px;
  }
  .box-project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .card {
    height: 430px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eaeaea;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    background-color: rgba(128, 125, 125, 0.1);
  }
  .card h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    color: sandybrown;
  }
  .card p {
    line-height: 1.6;
    font-size: 18px;
    color: #555;
  }
  .card p span {
    font-weight: bold;
  }
  .github i {
    margin-left: 150px;
    margin-top: 20px;
    font-size: 40px;
    cursor: pointer;
    color: black;
  }
  
  @media (max-width: 600px) {
    .box-project {
      display: block;
    }
    .card {
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
/* Contact */

.title-contact {
        text-align: center;
        color: rgb(76, 76, 110);
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin-top: -100px;
    }
    .contact-box {
        width: 220px;
        height: 150px;
        margin: 0px 80px;
        padding: 30px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    }
  .contact-box:hover {
    background-color: rgba(25, 25, 5, 0.2);
  }
  .contact-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .contact-link i {
    margin-right: 10px;
    font-size: 40px;
  }
  .contact-link p {
    font-size: 22px;
    color: grey;
    margin-top: 20px;
  }
  @media (max-width: 600px) {
    #contact {
      margin-top: 920px;
    }
    .contact {
      margin-top: 10px;
      height: 200px;
    }
    .contact-box {
      margin: 0 20px;
    }
  }          
              
    
    
      
  
    @keyframes moveText {

        0%,
        10%,
        100% {
            background-position: -24rem 0;
        }
    
        65%,
        85% {
            background-position: 0rem 0;
        }
    }
    
    @keyframes moveCursorText {
    
        0%,
        10%,
        100% {
            width: 0;
        }
    
        65%,
        78%,
        85% {
            width: 100%;
            opacity: 1;
        }
    
        75%,
        85% {
            opacity: 0;
        }
    }
    
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
    
    
    


